

.float_01 {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    
}


h2 {
    color: blue;
}

.clear_01 {
    clear: both;
}

/* .margin_P1 { */
    /* margin: 60px; */
    /* display: inline-block; */
/* } */


p {
    text-align: justify;
    margin: 20px;
}

/* .div_01 { */
    /* height: 400px; */
    /* width: 100%; */
    /* background-color: rgb(54, 54, 192); */
/* } */


.flex_container_01 {
    display: flex;
    width: 100%;
    /* height: 450px; */
    background-color: rgb(55, 63, 180);
    justify-content: space-evenly;

}

.flex_items_01 {
    background-color: yellow;
    height: 130px;
    width: 130px;
    margin: 10px;
    text-align: center;
    font-size: 80px;

}